root {
  --border_color: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #538da8;
}
table {
  table-layout: fixed;
  vertical-align: middle;
}

.table > :not(:first-child) {
  background-color: white;
  border: 0cm;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom: 0px;
  border-top: 0px;
}

.table > tbody > tr > td,
.table > thead > tr > th {
  border-bottom: 0px;
  border-top: 0px;
}

.table > tbody > tr > th {
  border-bottom: 0px;
  border-top: 0px;
}

.table > thead > tr > td {
  border-bottom: 2px;
  border-top: 0px;
}
.user-line {
  border-bottom: 2px solid;
  border-color: rgb(155, 155, 155);
}

/* Modal */

.modal-content {
  border-radius: 1.15rem;
}

.modal-header {
  display: block;
  border-bottom-color: rgb(221, 221, 221);
  border-width: 0.15rem;
}

.modal-footer {
  border-bottom-color: rgb(221, 221, 221);
  border-width: 0rem;
}

.form-control,
.form-select {
  border-bottom-color: rgb(221, 221, 221);
  border-width: 0.15rem;
}
.table-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
}
.table-cell {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  
}
.check-cell {
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.table-hover > tbody > tr {
  align-items: center;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.5em;
  border-width: 0.2rem;
  box-shadow: 0 0 0 0px;
}
input[type="checkbox"]:checked {
  box-shadow: 0 0 0 0px;
  border: 0px;
  
}
.box_square {
  border-radius: 0.25em !important;
  background-color: rgb(223, 223, 223);
}
.overflow-x {
  overflow-x: auto;
}
.border-radius{
    border-radius: 25px !important;


}
.rounded{
    border-radius: 2.25rem!important;
    
}
.bg-primary{
    color: rgb(0, 0, 0);
    background-color: #f5f5f5 !important;
    
}
.border-primary{
    border-color: #a1a1a1!important;
    border-spacing: initial;
}

.text-dotted {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px dotted #000; 
    line-height: 0.2em;
    margin: 10px 0 20px; 
    
 } 
 
.text-dotted span { 
     background:#fff; 
     padding:0 10px; 
 }
 .font-weight-bolder{
    font-weight: 900;
 }
 .font-weight-regular{
    font-weight: 450;
 }